.cart
    display: grid
    width: 100%
    max-width: 1540px
    margin: 0 auto
    
.cartWrapper
    display: flex
    gap: 30px
    align-items: start
    
.mayLike
    display: flex
    gap: 30px
    margin-bottom: 90px

.items
    display: flex
    flex-direction: column
    gap: 8px
    margin-bottom: 90px

.buy
    background-color: #e9f0fe
    padding: 20px
    width: 450px
    border-radius: 8px
    display: flex
    flex-direction: column
    gap: 30px
    & span
        color: #42474D
        font-size: 14px
.toPay
    display: flex
    justify-content: space-between
    align-items: center