.App {
    background: #F6F6FA;
    margin-top: 0;
}

footer {
    background-color: #42474D;
}

footer .contact .my-10 .mt-5 a:first-child,
footer .contact .my-10 .mt-5 a:last-child {
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

footer .contact .my-10 span:first-child {
    font-weight: 700;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
    padding-bottom: 10px;
    border-bottom: 1px solid #828D99;
}

footer .contact .my-10 span:last-child {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
}

footer .contact .cop-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    color: #C3D3E5;
}

footer .menu h5.title {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    border-bottom: 1px solid #828D99;
    padding-bottom: 10px;
}

footer .menu ul li a {
    font-weight: 400;
    font-size: 16px;
    line-height: 13px;
    color: #FFFFFF;
    display: block;
    padding-bottom: 20px;
}

footer .third a {
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    color: #C3D3E5;
}